@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebDongHo.Models.ProductImage

@{
    ViewData["Title"] = "SuaAnhSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa ảnh sản phẩm</h2>

<h4>Ảnh sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaAnhSanPham" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url">Product Image</label>
                <input type="file" asp-for="Url" class="form-control" />
                <img id="previewImage" src="/SLayoutWatch/img/anhsanpham/@Model.Url" alt="Product Image" style="max-width: 150px; max-height: 150px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucAnhSanPham" class="btn btn-secondary">Back to List</a>
</div>

<script>
    document.querySelectorAll('input[type="file"]').forEach(input => {
        input.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById("previewImage");
                    img.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>
