@model int

<style>
    body {
        background-color: #eee;
    }

    .card {
        background-color: #fff;
        width: 3000px;
        height: 1000px;
        border: none;
        border-radius: 16px;
    }

    .info {
        line-height: 19px;
    }

    .name {
        color: #4c40e0;
        font-size: 40px;
        font-weight: 600;
    }

    .order {
        font-size: 25px;
        font-weight: 400;
        color: #b7b5b5;
    }

    .detail {
        line-height: 19px;
    }

    .summery {
        color: #d2cfcf;
        font-weight: 400;
        font-size: 25px;
    }

    .text {
        line-height: 15px;
    }

    .new {
        color: #000;
        font-size: 30px;
        font-weight: 600;
    }

    .money {
        font-size: 14px;
        font-weight: 500;
    }

    .address {
        color: #d2cfcf;
        font-weight: 500;
        font-size: 25px;
    }

    .last {
        font-size: 10px;
        font-weight: 500;
    }


    .address-line {
        color: #4C40E0;
        font-size: 25px;
        font-weight: 700;
    }
</style>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 mt-3">
        <div class="first d-flex justify-content-between align-items-center mb-3">
            <div class="info">
                <span class="d-block name">Bạn đã hủy thanh toán của mình qua Paypal!</span>
                <br />
                <span class="order">Quay lại <a asp-action="Index" asp-controller="Home">Time's Ticking'</a> của bạn.</span>
            </div>
            <img src="https://i.imgur.com/NiAVkEw.png" width="40" />
        </div>
        <hr>
        <div class="text">
            <span class="d-block new mb-1">Time's Ticking</span>
        </div>
        <span class="d-block address mb-3">Khu Công nghệ cao TP.HCM (SHTP), Xa lộ Hà Nội, P. Hiệp Phú, TP. Thủ Đức, TP.HCM</span>
        <div class="last d-flex align-items-center mt-3">
            <span class="address-line">Timepieces Emporium - Dive into Style with Every Tick!</span>
        </div>
    </div>
</div>