@model ResetPasswordViewModel





@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutAdmin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="../../LayoutAdmin/assets/images/logo.svg">
                            </div>
                            <h4>Thay đổi mật khẩu của bạn</h4>
                            <h6 class="font-weight-light">Vui lòng nhập mật khẩu mới cho tài khoản của bạn.</h6>
                            <form method="post">
                                <input type="hidden" name="token" value="@Model.Token" />
                                <div class="form-group">
                                    <label for="newPassword">Mật khẩu mới:</label>
                                    <input type="password" id="newPassword" name="newPassword" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="../../LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutAdmin/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword !== confirmPassword) {
                alert("Mật khẩu mới và xác nhận mật khẩu mới không trùng khớp.");
                event.preventDefault();
            }
        });
    });
</script>
</html>