@{
    ViewData["Title"] = "Blog Page";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Beauty (20)</a></li>
                            <li><a href="#">Food (5)</a></li>
                            <li><a href="#">Life Style (9)</a></li>
                            <li><a href="#">Travel (10)</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <h3>Đồng hồ ra đời năm n&#224;o? Lịch sử h&#236;nh th&#224;nh v&#224; ph&#225;t triển của đồng hồ</h3>
                    <div class="divContent">
                        <div id="bannerbody">
                            <h2>Đồng hồ hiện nay đã trở thành một trong những phụ kiện thời trang phổ biến. Vậy đồng hồ đeo tay ra đời năm nào? Bài viết dưới đây sẽ sơ lược cho các bạn về lịch sử hình thành và phát triển của đồng hồ.</h2>
                            <br /><h3><strong>1. Chiếc đồng hồ đầu ti&ecirc;n</strong></h3>
                            <p>Đồng hồ mặt trời Sundials v&agrave; đồng hồ nước l&agrave; những cỗ m&aacute;y đo thời gian đầu ti&ecirc;n xuất hiện v&agrave;o khoảng 3500 trước c&ocirc;ng nguy&ecirc;n. Cơ chế hoạt động dựa theo việc theo d&otilde;i mặt trăng, mặt trời, d&ograve;ng thủy triều để ước lượng c&aacute;c mốc thời gian trong ng&agrave;y. Đ&acirc;y l&agrave; tiền đề cho sự ph&aacute;t triển của những chiếc đồng hồ về sau.</p>
                            <p><img class="lazy" title="Chiếc đồng hồ đầu ti&ecirc;n" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-2-800x531.jpg" alt="Chiếc đồng hồ đầu ti&ecirc;n" width="800" height="531"></p><p style="font-size:15px;color:#777777;text-align:center">Chiếc đồng hồ đầu ti&ecirc;n</p>
                            <p>Chiếc đồng hồ được ph&aacute;t minh đầu ti&ecirc;n l&agrave; đồng hồ bỏ t&uacute;i, xuất hiện v&agrave;o năm 1574 tại Thụy Sĩ. Được cấu tạo với một chiếc kim giờ, kim ph&uacute;t được th&ecirc;m v&agrave;o năm 1680 v&agrave; khoảng một thập kỷ sau đ&oacute; th&igrave; kim gi&acirc;y xuất hiện.</p>
                            <p><img class="lazy" title="Đồng hồ bỏ t&uacute;i" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-3-800x548.jpg" alt="Đồng hồ bỏ t&uacute;i" width="800" height="548"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ bỏ t&uacute;i</p>
                            <div class="boxpromote">                                                               
                            <h3><strong>2. Sự ra đời của đồng hồ đeo tay</strong></h3>
                            <p>Năm 1571, nữ ho&agrave;ng Anh Elizabeth được tặng một v&ograve;ng tay c&oacute; gắn một mặt đồng hồ nhỏ. Đ&acirc;y c&oacute; thể coi l&agrave; chiếc đồng hồ đeo tay đầu ti&ecirc;n tr&ecirc;n thế giới. Nhưng m&atilde;i đến năm 1880 của thế kỷ 19 đồng hồ đeo tay mới được sử dụng rộng r&atilde;i.</p>
                            <p><img class="lazy" title="V&ograve;ng tay c&oacute; gắn mặt đồng hồ nhỏ của nữ ho&agrave;ng Anh Elizabeth " class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-4-800x450.jpg" alt="V&ograve;ng tay c&oacute; gắn mặt đồng hồ nhỏ của nữ ho&agrave;ng Anh Elizabeth " width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">V&ograve;ng tay c&oacute; gắn mặt đồng hồ nhỏ của nữ ho&agrave;ng Anh Elizabeth </p>
                            <h3><strong>3. Sự phổ biến về đồng hồ đeo tay</strong></h3>
                            <p>V&agrave;o thế kỉ 19, đồng hồ đeo tay l&agrave; một phụ kiện độc quyền cho nữ.</p>
                            <p>Đồng hồ đeo tay ph&aacute;t triển mạnh v&agrave; phổ biến hơn trong chiến tranh thế giới thứ nhất, v&igrave; c&aacute;c binh l&iacute;nh kh&ocirc;ng c&oacute; thời gian v&agrave; bất tiện trong việc xem giờ từ chiếc đồng hồ bỏ t&uacute;i. Qu&acirc;n đội Đức đ&atilde; trang bị đồng hồ đeo tay từ những năm 1880, nhưng cho đến năm 1910 l&iacute;nh Mỹ mới bắt đầu trang bị đồng hồ.</p>
                            <p><img class="lazy" title="Đồng hồ l&iacute;nh" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-5-800x534.jpg" alt="Đồng hồ l&iacute;nh" width="800" height="534"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ l&iacute;nh</p>
                            <p>Khi chiến tranh kết th&uacute;c họ đ&atilde; quen với việc đeo đồng hồ, từ đ&oacute; đồng hồ đeo tay ch&iacute;nh thức trở th&agrave;nh một phụ kiện thời trang cho cả nam v&agrave; nữ.</p>
                            <h3><strong>4. Sự thay đổi thiết kế trong đồng hồ đeo tay</strong></h3>
                            <h4><strong>K&iacute;ch thước</strong></h4>
                            <p>Kể từ khi ra đời, k&iacute;ch thước mặt k&iacute;nh đồng hồ đeo tay đ&atilde; kh&ocirc;ng ngừng thay đổi. Ban đầu n&oacute; được thu gọn dần rồi sau đ&oacute; lại tăng dần kể từ thập ni&ecirc;n 70 của thế kỷ 20 trở lại đ&acirc;y. Nếu như trước những năm 60, k&iacute;ch thước mặt k&iacute;nh trung b&igrave;nh của đồng hồ đeo tay nam chỉ từ 28 &ndash; 32 mm th&igrave; ng&agrave;y nay con số đ&oacute; đ&atilde; tăng l&ecirc;n th&agrave;nh 38 &ndash; 42 mm.</p>
                            <p><img class="lazy" title="Sự thay đổi trong k&iacute;ch thước đồng hồ đeo tay" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-6-800x450.jpg" alt="Sự thay đổi trong k&iacute;ch thước đồng hồ đeo tay" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Sự thay đổi trong k&iacute;ch thước đồng hồ đeo tay</p>
                            <h4><strong>Kim đồng hồ</strong></h4>
                            <p>Tương tự với k&iacute;ch thước th&igrave; kim đồng hồ cũng c&oacute; sự thay đổi đ&aacute;ng kể. Ở giai đoạn đầu, kim đồng hồ c&ograve;n kh&aacute; th&ocirc;, cồng kềnh, kh&ocirc;ng c&oacute; lớp bảo vệ v&agrave; thiếu đi sự thanh tho&aacute;t v&agrave; yếu tố thẩm mỹ.</p>
                            <p>Về sau hệ thống kim đồng hồ đ&atilde; được ho&agrave;n thiện dần v&agrave; ng&agrave;y c&agrave;ng trở n&ecirc;n cứng c&aacute;p, chắc chắn, tinh tế đồng thời mang t&iacute;nh thẩm mĩ hơn.Theo ước t&iacute;nh của c&aacute;c chuy&ecirc;n gia trong lĩnh vực đồng hồ th&igrave; từ thời điểm sơ khai cho đến nay đ&atilde; c&oacute; rất nhiều loại kim đồng hồ được ra đời (kh&ocirc;ng dưới 1000 loại).</p>
                            <p><img class="lazy" title="Sự thay đổi về kim đồng hồ" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-7-800x482.jpg" alt="Sự thay đổi về kim đồng hồ" width="800" height="482"></p><p style="font-size:15px;color:#777777;text-align:center">Sự thay đổi về kim đồng hồ</p>
                            <h4><strong>C&aacute;c t&iacute;nh năng kh&aacute;c</strong></h4>
                            <p>Khoa học c&ocirc;ng nghệ ph&aacute;t triển dẫn tới sự t&igrave;m t&ograve;i, kh&aacute;m ph&aacute; của con người cũng ng&agrave;y c&agrave;ng c&oacute; nhiều đột ph&aacute;. Đi c&ugrave;ng với đ&oacute;, ng&agrave;y c&agrave;ng c&oacute; nhiều nhiều loại đồng hồ với v&ocirc; số chức năng th&ocirc;ng minh, tiện &iacute;ch hiện đại ra đời phục vụ cho nhu cầu của nhiều đối tượng kh&aacute;c nhau.</p>
                            <p><img class="lazy" title="Sự thay đổi về c&aacute;c t&iacute;nh năng kh&aacute;c của đồng hồ" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-8-845x563.jpg" alt="Sự thay đổi về c&aacute;c t&iacute;nh năng kh&aacute;c của đồng hồ" width="845" height="563"></p><p style="font-size:15px;color:#777777;text-align:center">Sự thay đổi về c&aacute;c t&iacute;nh năng kh&aacute;c của đồng hồ</p>
                            <p>C&oacute; thể kể đến như những mẫu đồng hồ lặn biển, đồng hồ leo n&uacute;i, đồng hồ c&oacute; nhiều m&uacute;i giờ kh&aacute;c nhau, x&aacute;c định kinh độ, vĩ độ tr&aacute;i đất; x&aacute;c định nhiệt độ, kiểm tra sức khỏe k&egrave;m chức năng của một chiếc điện thoại di động,&hellip; Ch&iacute;nh v&igrave; thế, giờ đ&acirc;y một chiếc đồng hồ đeo tay kh&ocirc;ng chỉ đơn thuần l&agrave; phục vụ nhu cầu xem ng&agrave;y giờ m&agrave; c&ograve;n rất nhiều c&aacute;c tiện &iacute;ch kh&aacute;c.</p>
                            <h3><strong>5. C&aacute;c loại đồng hồ được ph&aacute;t minh theo d&ograve;ng thời gian</strong></h3>
                            <h4><strong>Đồng hồ kim</strong></h4>
                            <p>V&agrave;o khoảng cuối thế kỷ 13, những mẫu đồng hồ cơ đầu ti&ecirc;n ra đời nhưng l&uacute;c n&agrave;y, kim đồng hồ vẫn chưa được d&ugrave;ng để chỉ thời gian. Chỉ từ thế kỷ 14 trở đi, đồng hồ c&oacute; kim giờ mới xuất hiện v&agrave; trở th&agrave;nh ti&ecirc;u chuẩn kh&ocirc;ng thể thiếu cho mỗi chiếc đồng hồ. Tiếp đến, m&atilde;i tới năm 1475, kim ph&uacute;t mới ra đời nhưng cũng chưa phổ biến.</p>
                            <p>Khoảng hơn một trăm năm sau đ&oacute; (từ 1560 &ndash; 1570), kim gi&acirc;y đồng hồ ra đời nhưng cũng chưa được sử dụng rộng r&atilde;i, đồng thời chưa được d&ugrave;ng để nhận biết khung thời gian 60 gi&acirc;y như b&acirc;y giờ. Hầu hết c&aacute;c mẫu đồng hồ tr&ecirc;n thế giới vẫn chỉ c&oacute; 1 kim giờ m&atilde;i cho đến năm 1961. </p>
                            <p><img class="lazy" title="Nguồn gốc ra đời của đồng hồ kim" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-9-800x534.jpg" alt="Nguồn gốc ra đời của đồng hồ kim" width="800" height="534"></p><p style="font-size:15px;color:#777777;text-align:center">Nguồn gốc ra đời của đồng hồ kim</p>
                            <p><span style="font-weight: 400;">Kể từ năm 1961 trở đi, nh&agrave; sản xuất đồng hồ Daniel Quare mới giới thiệu chiếc đồng hồ với kim ph&uacute;t đặt ở trung t&acirc;m. V&agrave; đến thế kỷ 18, c&aacute;c mẫu đồng hồ c&oacute; kim mới được chế t&aacute;c v&agrave; thiết kế một c&aacute;ch trau chuốt với phần kim mảnh mai v&agrave; thanh lịch, tinh tế. Thời gian đầu, kim đồng hồ được l&agrave;m thủ c&ocirc;ng nhưng đến năm 1800, m&aacute;y dập kim mới ra đời v&agrave; ph&aacute;t triển.</span></p>
                            <p><img class="lazy" title="Đặc điểm của đồng hồ kim" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-10-845x553.jpg" alt="Đặc điểm của đồng hồ kim" width="845" height="553"></p><p style="font-size:15px;color:#777777;text-align:center">Đặc điểm của đồng hồ kim</p>
                            <p>Như vậy, đồng hồ kim ra đời sau đồng hồ cơ một thời gian v&agrave; hiện nay, hầu hết c&aacute;c mẫu đồng hồ kim đều gồm c&oacute; kim giờ, kim ph&uacute;t v&agrave; kim gi&acirc;y. Tuy nhi&ecirc;n, nhiều sản phẩm cũng được thiết kế tối giản đi kim gi&acirc;y. </p>
                            <h4><strong>Đồng hồ cơ</strong></h4>                         
                            <p>Chiếc đồng hồ cơ đầu ti&ecirc;n được một tu sĩ người &Yacute; ph&aacute;t minh ở Anh v&agrave;o năm 1275. L&yacute; do l&agrave; bởi những tu sĩ C&ocirc;ng gi&aacute;o c&oacute; quy định rất nghi&ecirc;m ngặt về lịch tr&igrave;nh cầu nguyện cũng như c&ocirc;ng việc hằng ng&agrave;y n&ecirc;n họ đ&atilde; y&ecirc;u cầu chế tạo đồng hồ để theo d&otilde;i thời gian. Ban đầu đ&oacute; l&agrave; một chiếc đồng hồ rất lớn chỉ với một kim giờ. </p>
                            <p>Trải qua qu&aacute; tr&igrave;nh ph&aacute;t triển nhiều thi&ecirc;n ni&ecirc;n kỷ cho đến nay, rất nhiều c&aacute;c mẫu đồng hồ cơ cải tiến đ&atilde; được ra đời như đồng hồ cơ bỏ t&uacute;i bằng đồng (1574), đồng hồ cơ th&ecirc;m kim ph&uacute;t (1680), đồng hồ cơ c&oacute; kim d&acirc;y (1690), đồng hồ cơ thợ lặn (1926), đồng hồ cơ chronograph automatic (1969),...</p>
                            <p><img class="lazy" title="Nguồn gốc ra đời đồng hồ cơ" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-11-845x563.jpg" alt="Nguồn gốc ra đời đồng hồ cơ" width="845" height="563"></p><p style="font-size:15px;color:#777777;text-align:center">Nguồn gốc ra đời đồng hồ cơ</p>
                            <p>Đồng hồ cơ được ph&acirc;n loại dựa tr&ecirc;n cơ chế l&ecirc;n d&acirc;y c&oacute;t, bao gồm 3 loại cơ bản l&agrave;: đồng hồ l&ecirc;n c&oacute;t bằng tay, đồng hồ l&ecirc;n c&oacute;t tự động v&agrave; đồng hồ vừa tự động vừa l&ecirc;n c&oacute;t. Ngo&agrave;i ra c&ograve;n một số loại đồng hồ cơ kh&ocirc;ng ch&iacute;nh thống kh&aacute;c như đồng hồ b&aacute;n cơ kh&iacute;.</p>
                            <p>Cấu tạo của một chiếc đồng hồ cơ sẽ bao gồm c&aacute;c bộ phận: b&aacute;nh răng cuộn, d&acirc;y c&oacute;t, cơ cấu b&aacute;nh c&oacute;c, b&aacute;nh xe trung t&acirc;m, b&aacute;nh xe ph&uacute;t, b&aacute;nh xe giờ, b&aacute;nh xe gai, pallet, Jewel, sợi t&oacute;c v&agrave; b&aacute;nh xe c&acirc;n bằng.</p>
                            <p><img class="lazy" title="Cấu tạo của đồng hồ cơ" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-12-800x534.jpg" alt="Cấu tạo của đồng hồ cơ" width="800" height="534"></p><p style="font-size:15px;color:#777777;text-align:center">Cấu tạo của đồng hồ cơ</p>
                            <p>Đồng hồ cơ kh&ocirc;ng sử dụng pin n&ecirc;n sẽ kh&ocirc;ng phải thay pin, tạo sự tiện lợi hơn cho người d&ugrave;ng đồng thời th&acirc;n thiện với m&ocirc;i trường. Ngo&agrave;i ra, đồng hồ cơ cũng c&oacute; sự đa dạng về mẫu m&atilde; thiết kế, c&oacute; loại để lộ cơ, hở kim, si&ecirc;u mỏng,.. Đặc biệt, nhờ sở hữu bộ m&aacute;y hoạt động tốt, trơn tru, chuyển động mượt m&agrave; n&ecirc;n gần như kh&ocirc;ng tạo tiếng động trong qu&aacute; tr&igrave;nh vận h&agrave;nh.</p>
                            <p><img class="lazy" title="Đặc điểm của đồng hồ cơ" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-13-800x533.jpg" alt="Đặc điểm của đồng hồ cơ" width="800" height="533"></p><p style="font-size:15px;color:#777777;text-align:center">Đặc điểm của đồng hồ cơ</p>
                            <h4><strong>Đồng hồ quartz</strong></h4>                        
                            <p>Đồng hồ quartz hay c&ograve;n được biết đến l&agrave; đồng hồ thạch anh, xuất hiện lần đầu ti&ecirc;n v&agrave;o cuối thế kỷ 20, được Pierre Curie v&agrave; Jacques s&aacute;ng chế đ&atilde; đ&aacute;nh dấu bước ngoặt quan trọng trong việc nghi&ecirc;n cứu. Trải qua gần 50 năm ph&aacute;t triển, c&aacute;c mẫu đồng hồ quartz c&agrave;ng ng&agrave;y c&agrave;ng t&acirc;n tiến hơn v&agrave; bộ m&aacute;y cũng trở n&ecirc;n cực kỳ ch&iacute;nh x&aacute;c với độ lệch số rất thấp.</p>
                            <p>Hiện nay, c&oacute; nhiều loại đồng hồ Quartz nhưng phổ biến nhất vẫn l&agrave; d&ograve;ng m&aacute;y Quartz chạy bằng pin th&ocirc;ng thường, d&ograve;ng m&aacute;y Quartz chạy bằng pin sạc bằng năng lượng &aacute;nh s&aacute;ng/b&aacute;nh đ&agrave; v&agrave; d&ograve;ng d&ugrave;ng một trong ba loại m&aacute;y tr&ecirc;n nhưng hiển thị bằng m&agrave;n h&igrave;nh LCD.</p>
                            <p><img class="lazy" title="Nguồn gốc ra đời đồng hồ quartz " class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-14.-800x500.jpg" alt="Nguồn gốc ra đời đồng hồ quartz " width="800" height="500"></p><p style="font-size:15px;color:#777777;text-align:center">Nguồn gốc ra đời đồng hồ quartz </p>
                            <p>Cấu tạo của một chiếc đồng hồ quartz sẽ được chia ra c&aacute;c bộ phận b&ecirc;n trong v&agrave; b&ecirc;n ngo&agrave;i. B&ecirc;n trong sẽ bao gồm: pin, động cơ bước, vi mạch, bảng mạch kết nối vi mạch, tinh thể thạch anh, n&uacute;m điều chỉnh thời gian, b&aacute;nh răng chỉnh tốc độ v&agrave; trục trung t&acirc;m để gắn kim. B&ecirc;n ngo&agrave;i sẽ gồm vỏ đồng hồ, kim đồng hồ, mặt k&iacute;nh, n&uacute;m chỉnh thời gian, n&uacute;t bấm giờ.</p>
                            <p><img class="lazy" title="Đặc điểm của đồng hồ quartz" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-15-800x500.jpg" alt="Đặc điểm của đồng hồ quartz" width="800" height="500"></p><p style="font-size:15px;color:#777777;text-align:center">Đặc điểm của đồng hồ quartz</p>
                            <p>Đồng hồ quartz c&oacute; độ ch&iacute;nh x&aacute;c cao, dễ vận h&agrave;nh, c&oacute; thể sử dụng ngay sau khi mua về m&agrave; kh&ocirc;ng cần sạc hay nạp năng lượng. B&ecirc;n cạnh đ&oacute; c&ograve;n c&oacute; khả năng chống nước tốt, chống sốc tốt, chịu được lực v&agrave; va chạm, ph&ugrave; hợp với những người y&ecirc;u th&iacute;ch thể thao, năng động. Mẫu m&atilde; lại đa dạng v&agrave; đặc biệt l&agrave; gi&aacute; th&agrave;nh kh&ocirc;ng qu&aacute; đắt đỏ.</p>
                            <h4><strong>Đồng hồ đeo tay sử dụng năng lượng &aacute;nh s&aacute;ng</strong></h4>                            
                            <p>Phi&ecirc;n bản đầu ti&ecirc;n của chiếc đồng hồ đeo tay sử dụng năng lượng mặt trời được sản xuất bởi nh&agrave; ph&aacute;t minh Roger Riehl v&agrave;o th&aacute;ng 3 năm 1968. Trước đ&oacute;, từ những năm 1959, Roger Riehl đ&atilde; c&oacute; &yacute; tưởng về một đồng hồ đeo tay bằng năng lượng mặt trời những phải đến năm 1972 th&igrave; phi&ecirc;n bản với t&ecirc;n gọi &ldquo;Synchronar&rdquo; mới được ph&aacute;t h&agrave;nh tr&ecirc;n thị trường.</p>
                            <p><img class="lazy" title="Nguồn gốc ra đời đồng hồ đeo tay sử dụng năng lượng mặt trời" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-16.jpeg-800x500.jpg" alt="Nguồn gốc ra đời đồng hồ đeo tay sử dụng năng lượng mặt trời" width="800" height="500"></p><p style="font-size:15px;color:#777777;text-align:center">Nguồn gốc ra đời đồng hồ đeo tay sử dụng năng lượng mặt trời</p>
                            <p>Kh&aacute;c với những mẫu đồng hồ th&ocirc;ng thường, mặt đồng hồ Sychronar được thiết kế đặc trưng c&oacute; 2 tấm pin quang điện đặt ph&iacute;a tr&ecirc;n. Mặt số hiển thị th&ocirc;ng b&aacute;o giờ, ph&uacute;t, gi&acirc;y v&agrave; lịch sẽ chuyển sang nằm cạnh hai b&ecirc;n ngay tại vị tr&iacute; tiếp gi&aacute;p với d&acirc;y đeo đồng hồ. Synchronar sử dụng mặt số Led điện tử với những thanh Led m&agrave;u đỏ tr&ecirc;n nền số m&agrave;u đen.</p>
                            <p><img class="lazy" title="Đặc điểm của đồng hồ đeo tay sử dụng năng lượng mặt trời" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-17-800x480.jpg" alt="Đặc điểm của đồng hồ đeo tay sử dụng năng lượng mặt trời" width="800" height="480"></p><p style="font-size:15px;color:#777777;text-align:center">Đặc điểm của đồng hồ đeo tay sử dụng năng lượng mặt trời</p>
                            <p>Đồng hồ đeo tay sử dụng năng lượng mặt trời c&oacute; ưu điểm l&agrave; kh&ocirc;ng lo hết pin hay hết năng lượng d&ugrave; ở bất kỳ đ&acirc;u. Khi được sạc đầy, đồng hồ c&oacute; thể hoạt động được từ 6 th&aacute;ng trở l&ecirc;n đối với Eco - Drive,... B&ecirc;n cạnh đ&oacute;, loại đồng hồ n&agrave;y cũng rất tiết kiệm chi ph&iacute; do kh&ocirc;ng phải thay pin thường xuy&ecirc;n đồng thời lại th&acirc;n thiện với m&ocirc;i trường.</p>
                            <h3><strong>6. Lịch sử ra đời c&aacute;c thương hiệu đồng hồ nổi tiếng</strong></h3>
                            <h4><strong>Thương hiệu đồng hồ Casio</strong></h4>                            
                            <p>Casio l&agrave; thương hiệu đến từ c&ocirc;ng ty chế tạo thiết bị điện tử của Nhật Bản, được Kashio Tadao th&agrave;nh lập v&agrave;o năm 1946, c&oacute; trụ sở ch&iacute;nh đặt tại Tokyo. Sau nhiều năm nghi&ecirc;n cứu v&agrave; ph&aacute;t triển, Casio đ&atilde; c&oacute; những bước ph&aacute;t triển vượt bậc, vươn tầm quốc tế với những sản phẩm mang độ ch&iacute;nh x&aacute;c tuyệt đối, bền bỉ v&agrave; c&oacute; thể sử dụng l&acirc;u d&agrave;i.</p>
                            <p><img class="lazy" title="Thương hiệu đồng hồ Casio" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-18-800x450.jpg" alt="Thương hiệu đồng hồ Casio" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Thương hiệu đồng hồ Casio</p>
                            <p>Năm 1974, Casio cho ra mắt mẫu đồng hồ đầu ti&ecirc;n mang t&ecirc;n Casiotron v&agrave; cũng l&agrave; thương hiệu ti&ecirc;n phong trong việc sản xuất h&agrave;ng loạt đồng hồ thạch anh chạy bằng điện tử. Chiếc đồng hồ Casio n&agrave;y rất s&aacute;ng tạo v&agrave; hợp thời trang, với một m&agrave;n h&igrave;nh m&aacute;y t&iacute;nh nhỏ cho ph&eacute;p người đeo kh&ocirc;ng chỉ cho biết ch&iacute;nh x&aacute;c thời gian m&agrave; c&ograve;n cho biết ng&agrave;y th&aacute;ng.</p>
                            <p><img class="lazy" title="Đồng hồ đeo tay Casio " class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-19-800x450.jpg" alt="Đồng hồ đeo tay Casio " width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ đeo tay Casio </p>
                            <p>Tiếp theo, v&agrave;o năm 1984, h&atilde;ng tiếp tục ph&aacute;t triển d&ograve;ng sản phẩm G-Shock với đặc t&iacute;nh chống nước, chống sốc v&agrave; cho thời gian ch&iacute;nh x&aacute;c. Những năm 1990, Casio giới thiệu mẫu đồng hồ c&aacute;i tiến Baby-G với thiết kế nhẹ v&agrave; phong c&aacute;ch. Năm 2004, mẫu đồng hồ Oceanus Manta cao cấp nhất của h&atilde;ng ra mắt v&agrave; được săn đ&oacute;n ở nhiều quốc gia.</p>
                            <h4><strong>Thương hiệu đồng hồ Orient</strong></h4>                          
                            <p>Orient l&agrave; một thương hiệu đồng hồ cao cấp nổi tiếng của Nhật Bản. Sau gần 50 năm nghi&ecirc;n cứu đến th&aacute;ng 07/1950 Shogoro Yoshida đ&atilde; s&aacute;ng lập ra Orient với tư c&aacute;ch l&agrave; nh&agrave; sản xuất đồng hồ đeo tay. Cho đến nay, thương hiệu đồng hồ Orient đ&atilde; gặt h&aacute;i được kh&ocirc;ng &iacute;t th&agrave;nh tựu đ&aacute;ng ngưỡng mộ v&agrave; được ph&acirc;n phối ch&iacute;nh thức tại hơn 70 quốc gia tr&ecirc;n to&agrave;n thế giới.</p>
                            <p><img class="lazy" title="Thương hiệu đồng hồ Orient" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-20-800x600.jpg" alt="Thương hiệu đồng hồ Orient" width="800" height="600"></p><p style="font-size:15px;color:#777777;text-align:center">Thương hiệu đồng hồ Orient</p>
                            <p>Orient li&ecirc;n tục cho ra mắt những bộ sưu tập, những d&ograve;ng đồng hồ ph&ugrave; hợp với nhu cầu của nam giới lẫn ph&aacute;i đẹp. Trong đ&oacute; nổi bật nhất phải kể đến đ&oacute; l&agrave; Orient Sun & Moon, Orient Star v&agrave; Orient SK. Orient Sun & Moon d&ograve;ng sản phẩm cao cấp, ra mắt lần đầu v&agrave;o năm 2014, c&oacute; t&iacute;nh năng đổi lịch mặt trời - mặt trăng theo thời gian ng&agrave;y v&agrave; đ&ecirc;m.</p>
                            <p><img class="lazy" title="Đồng hồ đeo tay Orient" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-21-800x450.jpg" alt="Đồng hồ đeo tay Orient" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ đeo tay Orient</p>
                            <p>Đồng hồ Orient Star thuộc ph&acirc;n kh&uacute;c cao cấp h&agrave;ng đầu của h&atilde;ng, trang bị bộ m&aacute;y cơ tự động thế hệ mới nhất, tốt nhất, mang đến độ chuẩn x&aacute;c cao v&agrave; độ bền vượt trội. C&ograve;n Orient SK sở hữu khả năng chống nước cực kỳ ấn tượng, li&ecirc;n tục được ho&agrave;n thiện về bộ m&aacute;y để tăng độ ch&iacute;nh x&aacute;c cho đồng hồ.</p>                          
                            <h4><strong>Thương hiệu đồng hồ Citizen</strong></h4>                           
                            <p>Citizen l&agrave; thương hiệu đồng hồ của Nhật Bản ra đời năm 1918. &ldquo;Citizen&rdquo; trong tiếng Anh l&agrave; người d&acirc;n, với &yacute; nghĩa đ&oacute; nh&agrave; s&aacute;ng lập mong muốn quốc tế h&oacute;a thương hiệu, mang đến chất lượng sản phẩm tốt v&agrave; gi&aacute; cả hợp l&yacute; cho người d&acirc;n sử dụng. Năm 1931, c&aacute;c mẫu đồng hồ Citizen ch&iacute;nh thức ra mắt thị trường v&agrave; nhận được sự hưởng ứng lớn từ người d&ugrave;ng. </p>
                            <p><img class="lazy" title="Thương hiệu đồng hồ Citizen" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-22-800x450.jpg" alt="Thương hiệu đồng hồ Citizen" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Thương hiệu đồng hồ Citizen</p>
                            <p>Để đ&aacute;p ứng nhu cầu kh&aacute;ch h&agrave;ng từ nhiều quốc gia, hiện nay đồng hồ Citizen đ&atilde; c&oacute; mặt tại 5 ch&acirc;u lục, gồm: ch&acirc;u &Aacute;, ch&acirc;u &Acirc;u, ch&acirc;u Phi, ch&acirc;u Đại Dương, ch&acirc;u Mỹ v&agrave; khu vực Trung Đ&ocirc;ng. Sự đột ph&aacute; của Citizen bắt đầu v&agrave;o năm 1956 khi cho ra mắt chiếc đồng hồ chống va đập (chống sốc) đầu ti&ecirc;n tr&ecirc;n thế giới. </p>
                            <p><img class="lazy" title="Đồng hồ đeo tay Citizen" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-23-800x450.jpg" alt="Đồng hồ đeo tay Citizen" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ đeo tay Citizen</p>
                            <p>Ba năm sau, Parawater được xem l&agrave; chiếc đồng hồ chịu nước tốt nhất thế giới v&agrave;o thời điểm đ&oacute;. Một trong những cột mốc lớn nhất của h&atilde;ng Citizen đ&oacute; l&agrave; cho ra đời d&ograve;ng đồng hồ citizen Eco-Drive, mở ra một tư duy mới cho nghệ thuật chế t&aacute;c đồng hồ.</p>
                            <h4><strong>Thương hiệu đồng hồ Movado</strong></h4>                            
                            <p>Movado l&agrave; thương hiệu đồng hồ của Thụy Sĩ được th&agrave;nh lập năm 1881 bởi Achille Ditisheim c&ugrave;ng 6 người cộng sự. Từ một xưởng sản xuất đồng hồ rất nhỏ, với nỗ lực kh&ocirc;ng ngừng nghỉ th&igrave; đến năm 1905 c&aacute;i t&ecirc;n Movado đ&atilde; ch&iacute;nh thức được đưa v&agrave;o sử dụng. </p>
                            <p><img class="lazy" title="Thương hiệu đồng hồ Movado" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-24-800x444.jpg" alt="Thương hiệu đồng hồ Movado" width="800" height="444"></p><p style="font-size:15px;color:#777777;text-align:center">Thương hiệu đồng hồ Movado</p>
                            <p>Năm 1945, sự ra đời của chiếc đồng hồ tự động đầu ti&ecirc;n tr&ecirc;n thế giới Tempomatic đ&atilde; chứng minh rằng Movado ho&agrave;n to&agrave;n xứng đ&aacute;ng được nằm trong danh s&aacute;ch những thương hiệu đồng hồ Thụy Sĩ danh tiếng nhất. Năm 1983, Movado trở th&agrave;nh thương hiệu dưới tay của c&ocirc;ng ty đồng hồ Bắc Mỹ, đặt trụ sở ch&iacute;nh tại Paramus, bang New Jersey. </p>
                            <p><img class="lazy" title="Đồng hồ đeo tay Movado" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-25-800x450.jpg" alt="Đồng hồ đeo tay Movado" width="800" height="450"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ đeo tay Movado</p>
                            <p><span style="font-weight: 400;">Đồng hồ Movado</span> sở hữu thiết kế đơn giản nhưng mang đậm n&eacute;t sang trọng, tinh tế được l&agrave;m từ chất liệu qu&yacute; c&ugrave;ng độ cứng cực cao. C&ugrave;ng với đ&oacute; l&agrave; được trang bị cỗ m&aacute;y Thụy Sĩ đem đến sự ch&iacute;nh x&aacute;c v&agrave; hoạt động bền bỉ trong thời gian d&agrave;i. Đồng hồ Movado cũng nhận được sự đ&aacute;nh gi&aacute; cao nhờ t&iacute;nh chống nước vượt trội, c&oacute; thể d&ugrave;ng khi đi mưa hoặc rửa tay. </p>
                            <h3><strong>7. Tương lai của đồng hồ đeo tay</strong></h3>
                            <p>Trong thời đại c&ocirc;ng nghệ, kh&ocirc;ng thể phủ nhận sự ưu việt đa năng của những chiếc smartwatch, nhưng cũng chỉ ảnh hưởng đến một phần giới trẻ y&ecirc;u th&iacute;ch c&ocirc;ng nghệ.</p>
                            <p><img class="lazy" title="Đồng hồ th&ocirc;ng minh" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-26-800x533.jpg" alt="Đồng hồ th&ocirc;ng minh" width="800" height="533"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ th&ocirc;ng minh</p>
                            <p>Những chiếc đồng hồ đeo tay truyền thống, đặc biệt l&agrave; đồng hồ Thụy Sĩ rất kh&oacute; bị đ&aacute;nh bại bởi phần lớn kh&aacute;ch h&agrave;ng vẫn ưa chuộng đồng hồ cơ học. Kh&ocirc;ng chỉ v&igrave; bề d&agrave;y lịch sử m&agrave; c&ograve;n được xem l&agrave; một t&aacute;c phẩm nghệ thuật với sự tỉ mỉ trong từng cấu tạo, tinh tế trong từng kiểu d&aacute;ng.</p>
                            <p><img class="lazy" title="Đồng hồ đeo tay cổ điển" class="lazy" src="https://cdn.tgdd.vn//News/1191163//dong-ho-ra-doi-khi-nao-lich-su-hinh-thanh-va-phat-27-800x534.jpg" alt="Đồng hồ đeo tay cổ điển" width="800" height="534"></p><p style="font-size:15px;color:#777777;text-align:center">Đồng hồ đeo tay cổ điển</p>
                            <p>C&oacute; thể n&oacute;i, đồng hồ truyền thống vẫn mang một n&eacute;t đẹp sang trọng, qu&yacute; ph&aacute;i, vẫn độc chiếm một vị thế trong l&ograve;ng người ti&ecirc;u d&ugrave;ng trước cuộc chạy đua c&ocirc;ng nghệ hiện nay.</p>                            
                            <p><em>Như vậy qua b&agrave;i viết tr&ecirc;n ch&uacute;ng t&ocirc;i đ&atilde; gi&uacute;p c&aacute;c bạn l&agrave;m r&otilde; đồng hồ ra đời năm n&agrave;o cũng như qu&aacute; tr&igrave;nh h&igrave;nh th&agrave;nh v&agrave; ph&aacute;t triển của ch&uacute;ng. Hy vọng những chia sẻ n&agrave;y sẽ mang đến cho bạn nhiều hiểu biết hữu &iacute;ch v&agrave; th&uacute; vị.</em></p>
                        </div>
                        <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="../../LayoutAdmin/assets/images/faces/hoang1.jpg" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>Vũ Đức Hoàng</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Categories:</span> Đồng hồ cơ</li>
                                        <li><span>Tags:</span> All, Watch, Automatic Watch, Luxury Watch, Smart Watch</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>