@{
    ViewData["Title"] = "Blog Page";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Beauty (20)</a></li>
                            <li><a href="#">Food (5)</a></li>
                            <li><a href="#">Life Style (9)</a></li>
                            <li><a href="#">Travel (10)</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="../SLayoutWatch/img/blog/sidebar/sr-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="../SLayoutWatch/img/banner/BANNER_automatic.jpg" alt="">
                    <h3>
                        Đồng hồ cơ là gì? Cách sử dụng, bảo quản đồng hồ Automatic đúng cách
                    </h3>
                    <h4>Hiện nay có rất nhiều người yêu thích và đam mê những chiếc đồng hồ cơ có khả năng hoạt động bền bỉ trong lâu dài. Nhưng không phải ai cũng biết cách sử dụng và bảo quản đồng hồ đúng đắn. Bài viết này sẽ cung cấp cho bạn những thông tin về đồng hồ cơ cũng như cách sử dụng và bảo quản đồng hồ Automatic.</h4>
                    <br /><h4><strong>1. Đồng hồ cơ là gì</strong></h4>
                    <p>Đồng hồ cơ là đồng hồ được lắp ráp từ các chi tiết thuần cơ khí được cấu tạo từ rất nhiều linh kiện nhỏ bên trong. Loại đồng hồ này không chạy bằng pin hay bất kỳ thiết bị điện tử nào khác mà được cung cấp năng lượng từ dây cót hoặc từ chuyển động tự nhiên của tay người dùng.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-1-800x450.jpg"></p>
                    <p style="font-size:15px;color:#777777;text-align:center">Đồng hồ cơ là đồng hồ được lắp ráp từ các chi tiết thuần cơ khí</p>
                    <p>Có hai loại đồng hồ cơ là đồng hồ lên dây cót bằng tay và tự động lên dây cót</p>
                    <br /><h4><strong>2. Những lưu ý khi sử dụng đồng hồ cơ bạn cần biết</strong></h4>
                    <p>Nếu bạn muốn tìm hiểu về cách sử dụng đồng hồ cơ sao cho đồng hồ có thể hoạt động lâu dài và bền bỉ lâu dài, hãy tham khảo về những "bí thuật" sử dụng đồng hồ cơ dưới đây.</p>
                    <h4><strong>Đọc kỹ và nắm vững thông tin</strong></h4>
                    <p>Mỗi chiếc đồng hồ cơ đều sở hữu cho mình một dòng máy khác nhau cùng với những chức năng riêng biệt và thiết kế mang nét đặc sắc riêng. Vì thế để sử dụng đồng hồ cơ đúng cách, bạn cần phải <strong>nắm được những thông tin về đồng hồ</strong> như thông số chi tiết của bộ máy, cách bộ máy hoạt động cũng như cách sử dụng những chức năng có trong đồng hồ.</p>
                    <p>Những thông tin này nằm trong <strong>sổ hướng dẫn sử dụng</strong> được đính kèm khi bạn mua một chiếc đồng hồ chính hãng. Ngoài ra bạn có thể tìm thấy những thông tin về mẫu đồng hồ trên trang web chính thức của thương hiệu hoặc của đơn vị phân phối chính hãng như <strong>Time's Ticking</strong>.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-3-2-800x450.jpg" alt="Đọc kỹ v&agrave; nắm vững th&ocirc;ng tin về đồng hồ" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-3-2-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Đọc kỹ v&agrave; nắm vững th&ocirc;ng tin về đồng hồ</p>
                    <h4><strong>Tr&aacute;nh để đồng hồ gần vật c&oacute; s&oacute;ng từ trường</strong></h4>
                    <p>Một khi đồng hồ của bạn nằm trong phạm vi ảnh hưởng mạnh của s&oacute;ng từ trường th&igrave; c&oacute; khả năng đồng hồ của bạn sẽ <strong>chạy sai thời gian</strong> hoặc tệ hơn l&agrave; <strong>ngừng hoạt động</strong>.</p>
                    <p>V&igrave; thế, bạn cần phải cẩn thận, <strong>tr&aacute;nh xa c&aacute;c loại nam ch&acirc;m</strong> hoặc <strong>vật c&oacute; s&oacute;ng từ trường</strong> nhằm tr&aacute;nh để đồng hồ cơ của m&igrave;nh bị nhiễm từ v&agrave; phải tốn chi ph&iacute; để sửa chữa.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-4-1-800x450.jpg" alt="Tr&aacute;nh để đồng hồ gần vật c&oacute; s&oacute;ng từ trường" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-4-1-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Tr&aacute;nh để đồng hồ gần vật c&oacute; s&oacute;ng từ trường</p>
                    <h4><strong>Ch&uacute; &yacute; độ ch&iacute;nh x&aacute;c của đồng hồ</strong></h4>
                    <p>Việc đồng hồ xảy ra sai số l&agrave; chuyện b&igrave;nh thường nếu bạn sử dụng đồng hồ cơ l&ecirc;n c&oacute;t bằng tay hoặc tự l&ecirc;n c&oacute;t. Bạn cần phải <strong>ch&uacute; &yacute; độ ch&iacute;nh x&aacute;c của đồng hồ</strong> để c&oacute; thể nhận biết được đồng hồ của bạn đ&atilde; c&oacute; đủ năng lượng trong ng&agrave;y hay đồng hồ đ&atilde; đến kỳ bảo dưỡng lau dầu hay chưa.</p>
                    <p>Nếu bạn thấy đồng hồ chạy sai số từ<strong> 3-10 ph&uacute;t trở l&ecirc;n</strong> trong ng&agrave;y th&igrave; bạn cần đem đồng hồ đến trung t&acirc;m sửa chữa ngay để sửa lỗi kịp thời. Bạn cũng n&ecirc;n nắm những th&ocirc;ng tin cũng như th&ocirc;ng số độ sai số của h&atilde;ng đồng hồ để kiểm tra, ph&aacute;t hiện vấn đề v&agrave; sửa chữa nhanh ch&oacute;ng.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-2992-800x450.jpg" alt="Ch&uacute; &yacute; độ ch&iacute;nh x&aacute;c của đồng hồ" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-2992-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Ch&uacute; &yacute; độ ch&iacute;nh x&aacute;c của đồng hồ</p>
                    <h4><strong>Điều chỉnh ng&agrave;y/thứ đ&uacute;ng c&aacute;ch</strong></h4>
                    <p>Khi điều chỉnh ng&agrave;y/thứ tr&ecirc;n đồng hồ, bạn n&ecirc;n <strong>th&aacute;o đồng hồ khỏi tay</strong>. Kh&ocirc;ng những thế, bạn cũng cần tr&aacute;nh cập nhật ng&agrave;y/thứ v&agrave;o thời điểm nhạy cảm, khoảng <strong>từ 21 giờ tối đến 3 giờ s&aacute;ng h&ocirc;m sau</strong> bởi v&igrave; đ&acirc;y l&agrave; giờ đang chuyển tiếp qua ng&agrave;y mới v&agrave; bộ m&aacute;y đồng hồ đang thay đổi theo một c&ocirc;ng thức chuyển động phức tạp.</p>
                    <p>Để giữ an to&agrave;n cho đồng hồ, bạn n&ecirc;n chỉnh kim ph&uacute;t <strong>theo chiều kim đồng hồ</strong>, tr&aacute;nh vặn ngược lại chiều kim đồng hồ.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-6-800x450.png" alt="Điều chỉnh ng&agrave;y, thứ đ&uacute;ng c&aacute;ch" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-6-800x450.png"></p><p style="font-size:15px;color:#777777;text-align:center">Điều chỉnh ng&agrave;y, thứ đ&uacute;ng c&aacute;ch</p>
                    <h4><strong>Cất giữ đồng hồ cơ trong hộp k&iacute;n khi kh&ocirc;ng sử dụng</strong></h4>
                    <p>Việc <strong>cất giữ đồng hồ cơ trong hộp k&iacute;n</strong> nhằm bảo vệ đồng hồ khỏi bụi bẩn cũng như xảy ra rơi rớt khi để b&ecirc;n ngo&agrave;i. Nếu c&oacute; thể, h&atilde;y <strong>cho v&agrave;o hộp k&iacute;n một g&oacute;i h&uacute;t ẩm</strong> nhằm gi&uacute;p đồng hồ kh&ocirc;ng bị ẩm mốc trong qu&aacute; tr&igrave;nh sử dụng.</p>
                    <p>Đối với những d&ograve;ng đồng hồ tự động hiện đại, bạn kh&ocirc;ng cần phải sử dụng hộp xoay m&agrave; c&oacute; thể cất giữ trong hộp k&iacute;n, cho đồng hồ nghỉ ngơi sau một ng&agrave;y d&agrave;i sử dụng v&agrave; s&aacute;ng h&ocirc;m sau, bạn vẫn c&oacute; thể sử dụng b&igrave;nh thường.</p>
                    <p>Tuy nhi&ecirc;n, đối với những d&ograve;ng đồng hồ c&oacute; cơ chế lịch như lịch vạn ni&ecirc;n hay c&aacute;c mẫu đồng hồ thi&ecirc;n văn th&igrave; bạn bắt buộc phải mua <strong>hộp xoay để dự trữ năng lượng</strong> cho ch&uacute;ng.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-7-800x451.jpg" alt="Cất giữ đồng hồ cơ trong hộp k&iacute;n khi kh&ocirc;ng sử dụng" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-7-800x451.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Cất giữ đồng hồ cơ trong hộp k&iacute;n khi kh&ocirc;ng sử dụng</p>
                    <h3><strong>3. C&aacute;ch sử dụng đồng hồ cơ chuẩn nhất</strong></h3>
                    <h4><strong>Đeo đồng hồ &iacute;t nhất 8 tiếng mỗi ng&agrave;y</strong></h4>
                    <p>Để đồng hồ cơ hoạt động đ&uacute;ng v&agrave; tự nhi&ecirc;n nhất, h&atilde;y <strong>đeo đồng hồ &iacute;t nhất 8 tiếng mỗi ng&agrave;y</strong> tr&ecirc;n tay. Việc n&agrave;y sẽ gi&uacute;p cho những linh kiện cơ kh&iacute; trong bộ m&aacute;y cơ chuyển động v&agrave; tạo ra năng lượng cho đồng hồ hoạt động.</p>
                    <p>Khi bộ m&aacute;y chuyển động v&agrave; tạo ra năng lượng li&ecirc;n tục, đồng hồ của bạn sẽ &iacute;t xảy ra t&igrave;nh trạng sai giờ, sai ng&agrave;y hoặc đứng m&aacute;y.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-8-800x450.jpg" alt="Đeo đồng hồ &iacute;t nhất 8 tiếng mỗi ng&agrave;y" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-8-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Đeo đồng hồ &iacute;t nhất 8 tiếng mỗi ng&agrave;y</p>
                    <h4><strong>L&ecirc;n c&oacute;t thủ c&ocirc;ng nếu kh&ocirc;ng c&oacute; thời gian</strong></h4>
                    <p>Nếu bạn kh&ocirc;ng thể đeo đồng hồ thường xuy&ecirc;n th&igrave; h&atilde;y <strong>&aacute;p dụng cơ chế l&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng</strong>. Đa số đồng hồ cơ hiện đại đều đ&atilde; đ&atilde; t&iacute;ch hợp chức năng l&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng hoặc <strong>lắc đồng hồ</strong>.</p>
                    <p>Tuy nhi&ecirc;n, h&atilde;y lưu &yacute; rằng rằng bạn chỉ n&ecirc;n lắc đồng hồ vừa phải hoặc <strong>xoay n&uacute;m vặn </strong>thuận/ngược chiều kim đồng hồ.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-9-800x450.jpg" alt="L&ecirc;n c&oacute;t thủ c&ocirc;ng nếu kh&ocirc;ng c&oacute; thời gian" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-9-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">L&ecirc;n c&oacute;t thủ c&ocirc;ng nếu kh&ocirc;ng c&oacute; thời gian</p>
                    <h4><strong>Phải đeo đồng hồ sau 40 giờ kh&ocirc;ng sử dụng</strong></h4>
                    <p>Đồng hồ cơ đều c&oacute; thời gian trữ c&oacute;t hay c&ograve;n gọi l&agrave; thời gian dự trữ năng lượng. Sau khi được dự trữ năng lượng, bộ m&aacute;y của đồng hồ c&oacute; thể tiếp tục hoạt động trong v&ograve;ng <strong>40 giờ </strong>tiếp theo (Một số mẫu đồng hồ c&oacute; thời gian trữ thấp hoặc cao hơn).</p>
                    <p>Nếu bạn kh&ocirc;ng sử dụng đồng hồ trong 40 giờ th&igrave; đồng hồ c&oacute; thể <strong>đứng m&aacute;y hoặc kh&ocirc;ng hoạt động</strong>. Do đ&oacute;, h&atilde;y đeo đồng hồ sau một khoảng thời gian hợp l&yacute; để đồng hồ hoạt động được l&acirc;u d&agrave;i.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-10-800x450.jpg" alt="Phải đeo đồng hồ sau 40 giờ kh&ocirc;ng sử dụng" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-10-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Phải đeo đồng hồ sau 40 giờ kh&ocirc;ng sử dụng</p>
                    <h4><strong>Lau dầu đồng hồ cơ định kỳ 2-4 năm/1 lần</strong></h4>
                    <p>Nếu bạn cảm thấy đồng hồ xảy ra sai số lớn hơn mức cho phép được nêu trong Hướng dẫn sử dụng, đó có thể là do những linh kiện cơ khí bên trong bộ máy bị khô và gây ra hao mòn. Vì vậy, bạn cần<strong> lau dầu đồng hồ cơ định kỳ</strong> khoảng <strong>từ 2</strong>-<strong>4 năm</strong>/<strong>1 lần</strong>.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-11-800x450.jpg" alt="Lau dầu đồng hồ cơ định kỳ 2-4 năm/1 lần" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-11-800x450.jpg" title="Lau dầu đồng hồ cơ định kỳ 2-4 năm/1 lần"></p>
                    <p style="font-size:15px;color:#777777;text-align:center">Lau dầu đồng hồ cơ định kỳ 2-4 năm/1 lần</p>
                    <h4><strong>Di chuyển c&aacute;nh tay theo đồng hồ </strong></h4>
                    <p>Di chuyển c&aacute;nh tay theo đồng hồ c&oacute; nghĩa l&agrave; bạn cần <strong>đeo đồng hồ thường xuy&ecirc;n</strong> khi thực hiện những hoạt động thường ng&agrave;y trong sinh hoạt v&agrave; c&ocirc;ng việc.</p>
                    <p>Tuy nhi&ecirc;n, h&atilde;y<strong> tr&aacute;nh hoạt động mạnh</strong> khi đeo đồng hồ (V&iacute; dụ như chơi b&oacute;ng đ&aacute; hay b&oacute;ng chuyền,...) v&igrave; những va chạm mạnh c&oacute; thể ảnh hưởng xấu đến khả năng dự trữ năng lượng của bộ m&aacute;y hoặc l&agrave;m hỏng đồng hồ.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-12-800x450.jpg" alt="Di chuyển c&aacute;nh tay theo đồng hồ " data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-12-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Di chuyển c&aacute;nh tay theo đồng hồ </p>
                    <h4><strong>N&ecirc;n th&aacute;o đồng hồ ra khi chỉnh giờ</strong></h4>
                    <p>Khi chỉnh giờ cho đồng hồ cơ, tốt nhất th&igrave; bạn n&ecirc;n <strong>th&aacute;o đồng hồ ra khỏi tay</strong> để đảm bảo n&uacute;m vặn được k&eacute;o ra<strong> vu&ocirc;ng g&oacute;c</strong>. B&ecirc;n cạnh đ&oacute;, việc th&aacute;o đồng hồ ra khỏi tay sẽ gi&uacute;p bạn dễ điều chỉnh c&oacute;t hơn l&agrave; khi đeo tr&ecirc;n tay.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-13-800x450.jpg" alt="N&ecirc;n th&aacute;o đồng hồ ra khi chỉnh giờ" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-13-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">N&ecirc;n th&aacute;o đồng hồ ra khi chỉnh giờ</p>
                    <h3><strong>4. C&aacute;ch l&ecirc;n năng lượng đồng hồ cơ đ&uacute;ng c&aacute;ch</strong></h3>
                    <h4><strong>L&ecirc;n d&acirc;y c&oacute;t tự nhi&ecirc;n bằng c&aacute;ch đeo đồng hồ </strong></h4>
                    <p>Hiện nay c&oacute; rất nhiều loại đồng hồ cơ c&oacute; cơ chế tự động l&ecirc;n d&acirc;y c&oacute;t. Bạn chỉ cần <strong>đeo đồng hồ tr&ecirc;n tay</strong> th&igrave; c&aacute;c linh kiện cơ kh&iacute; sẽ tự chuyển động v&agrave; tạo năng lượng để đồng hồ hoạt động. Đ&acirc;y l&agrave; c&aacute;ch l&ecirc;n d&acirc;y c&oacute;t của đồng hồ loại Automatic một c&aacute;ch tự nhi&ecirc;n v&agrave; tốt nhất.</p>
                    <p>Tuy nhi&ecirc;n, khi thực hiện những hoạt động mạnh th&igrave; bạn n&ecirc;n th&aacute;o đồng hồ ra để tr&aacute;nh trường hợp đồng hồ bị va chạm hoặc v&agrave;o nước g&acirc;y hỏng h&oacute;c.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-14-800x450.jpg" alt="L&ecirc;n d&acirc;y c&oacute;t tự nhi&ecirc;n bằng c&aacute;ch đeo đồng hồ " data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-14-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">L&ecirc;n d&acirc;y c&oacute;t tự nhi&ecirc;n bằng c&aacute;ch đeo đồng hồ </p>
                    <h4><strong>L&ecirc;n d&acirc;y c&oacute;t &ldquo;nh&acirc;n tạo&rdquo; bằng c&aacute;ch lắc đồng hồ</strong></h4>
                    <p>Nếu bạn kh&ocirc;ng c&oacute; thời gian để đeo đồng hồ th&igrave; cầm đồng hồ v&agrave; <strong>lắc một c&aacute;ch vừa phải</strong> để gi&uacute;p linh kiện cơ kh&iacute; chuyển động v&agrave; tạo năng lượng cho đồng hồ.</p>
                    <p>Đ&acirc;y l&agrave; c&aacute;ch l&ecirc;n d&acirc;y c&oacute;t nhanh ch&oacute;ng nhưng bạn kh&ocirc;ng n&ecirc;n qu&aacute; lạm dụng bởi nếu bạn lắc sai hoặc qu&aacute; mạnh th&igrave; linh kiện b&ecirc;n trong đồng hồ c&oacute; thể xảy ra lỗi.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-16-800x450.jpg" alt="L&ecirc;n d&acirc;y c&oacute;t &ldquo;nh&acirc;n tạo&rdquo; bằng c&aacute;ch lắc đồng hồ" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-16-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">L&ecirc;n d&acirc;y c&oacute;t &ldquo;nh&acirc;n tạo&rdquo; bằng c&aacute;ch lắc đồng hồ</p>
                    <h4><strong>L&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng bằng c&aacute;ch xoay n&uacute;m vặn</strong></h4>
                    <p>Đối với những d&ograve;ng đồng hồ c&oacute; cơ chế l&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng, bạn c&oacute; thể l&ecirc;n d&acirc;y c&oacute;t bằng c&aacute;ch <strong>xoay n&uacute;m vặn</strong> thuận hoặc ngược chiều kim đồng hồ t&ugrave;y theo từng d&ograve;ng đồng hồ kh&aacute;c nhau.</p>
                    <p>Bạn xoay d&acirc;y c&oacute;t khoảng <strong>từ 5 đến 20 v&ograve;ng</strong> hoặc xoay n&uacute;m vặn cho đến khi n&uacute;m vặn cứng lại. Nếu tiếp tục xoay khi đồng hồ đ&atilde; đầy năng lượng th&igrave; <a href="https://www.thegioididong.com/hoi-dap/dong-ho-co-bi-dut-day-cot-nguyen-nhan-va-cach-khac-1178503" data-cke-saved-href="https://www.thegioididong.com/hoi-dap/dong-ho-co-bi-dut-day-cot-nguyen-nhan-va-cach-khac-1178503">d&acirc;y c&oacute;t c&oacute; thể bị đứt</a>.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-15-800x450.png" alt="L&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng bằng c&aacute;ch xoay n&uacute;m vặn" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-15-800x450.png"></p><p style="font-size:15px;color:#777777;text-align:center">L&ecirc;n d&acirc;y c&oacute;t thủ c&ocirc;ng bằng c&aacute;ch xoay n&uacute;m vặn</p>
                    <h4><strong>Sử dụng phụ kiện hỗ trợ như hộp xoay đồng hồ</strong></h4>
                    <p>Bạn c&oacute; thể <strong>sử dụng một số phụ kiện hỗ trợ</strong> như hộp xoay để l&ecirc;n d&acirc;y c&oacute;t cho đồng hồ cơ. Hộp xoay chuyển động li&ecirc;n tục xung quanh trục v&agrave; bạn chỉ cần đặt đồng hồ v&agrave;o hộp th&igrave; n&oacute; sẽ tự tạo ra năng lượng.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-17-800x450.jpg" alt="Sử dụng phụ kiện hỗ trợ như hộp xoay đồng hồ" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-17-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Sử dụng phụ kiện hỗ trợ như hộp xoay đồng hồ</p>
                    <h3><strong>5. C&aacute;ch vệ sinh đồng hồ cơ đ&uacute;ng c&aacute;ch</strong></h3>
                    <p>Để gi&uacute;p đồng hồ hoạt động trơn tru, mượt m&agrave; v&agrave; c&oacute; những chuyển động ch&iacute;nh x&aacute;c th&igrave; người ta thường b&ocirc;i 1 lớp dầu b&ecirc;n trong đồng hồ cơ. Khi bạn sử dụng đồng hồ đến một khoảng thời gian n&agrave;o đ&oacute; (th&ocirc;ng thường sẽ l&agrave; <strong>3 năm trở l&ecirc;n</strong>), bạn n&ecirc;n đem đồng hồ đến tiệm sửa chữa v&agrave; bảo h&agrave;nh uy t&iacute;n nhất để kiểm tra v&agrave; lau dầu. Một số đồng hồ mới mua cũng c&oacute; thể bị kh&ocirc; dầu do qu&aacute; tr&igrave;nh trưng b&agrave;y lưu kho l&acirc;u.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-18-800x450.jpg" alt="Kiểm tra v&agrave; lau dầu khi bạn sử dụng đồng hồ từ 3 năm trở l&ecirc;n" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-18-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Kiểm tra v&agrave; lau dầu khi bạn sử dụng đồng hồ từ 3 năm trở l&ecirc;n</p>
                    <p>Để t&igrave;m ra vấn đề đề của đồng hồ bạn cần <strong>kiểm tra độ ch&iacute;nh x&aacute;c thời gian</strong> để biết được sai số của đồng hồ l&agrave; cao hay thấp. Nếu sai số cao th&igrave; c&oacute; nghĩa l&agrave; đồng hồ của bạn cần được sửa chữa v&agrave; bảo h&agrave;nh sớm để tr&aacute;nh hỏng h&oacute;c. Ngo&agrave;i ra, nếu đồng hồ hoạt động kh&ocirc;ng ổn định th&igrave; bạn cũng cần tiến h&agrave;nh lau dầu.</p>
                    <p>Ngoài việc thay dầu định kỳ cho đồng hồ, bạn cũng nên<strong> vệ sinh đồng hồ </strong>mỗi ngày bằng cách dùng một chiếc khăn nhúng nước được vắt khô và lau sạch đồng hồ của bạn.</p>
                    <p><img class="lazy" src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-19-800x450.jpg" alt="Vệ sinh đồng hồ mỗi ng&agrave;y bằng khăn ướt được vắt kh&ocirc;" data-cke-saved-src="//cdn.tgdd.vn/hoi-dap/1179499/cach-su-dung-dong-ho-co-dung-cach-19-800x450.jpg"></p><p style="font-size:15px;color:#777777;text-align:center">Vệ sinh đồng hồ mỗi ng&agrave;y bằng khăn ướt được vắt kh&ocirc;</p>
                    <p><em>Mong rằng bài viết trên đã cung cấp cho bạn những thông tin hữu ích về đồng hồ cơ và cách sử dụng, bảo quản đồng hồ Automatic. Cảm ơn bạn đã đọc và chúc bạn một ngày tốt lành!</em></p>
                </>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="../../LayoutAdmin/assets/images/faces/hoang1.jpg" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>Vũ Đức Hoàng</h6>
                                    <span>Admin</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> Đồng hồ cơ</li>
                                    <li><span>Tags:</span> All, Watch, Automatic Watch, Luxury Watch</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>